<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Kairoscope...</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/style.css" type="text/css">

  </head>
  <body>

    <!-- navigation -->

    <nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-inverse">
        <img id="logo" src="images/logo.png"><br />

      <!--<a class="navbar-brand" href="#"><img src="logo.png"></a>-->

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav flex-column">
            <li class="nav-item">
              <a href="adminlogin"><button type="button" id="btn-admin" class="nav-link btn btn-dark btn-outline-success">Admin</button></a>
            </li>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Photographs</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="prewedding" >Pre-Wedding</a>
                  <a class="dropdown-item" href="wedding" >Wedding</a>
                  <a class="dropdown-item" href="engagement" >Engagement</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="maternity" >Maternity</a>
                  <a class="dropdown-item" href="babyshoot" >BabyShoot</a>
                </div>
              </li>

            <li class="nav-item">
              <a class="nav-link" href="aboutus" >About Us</a>
            </li>
            </ul>

          </ul>
        </div>
      </nav>
      <!--navigatio end-->


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>
</html>
