<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Kairoscope-About</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  </head>
  <body>
    <div id="pagewrap">

      <%- include('includes/header-client.ejs'); -%>

    <div class="container-fluid" style="margin-top : 103px" >
      <div class="row" style="background-color: pink; margin: 5px; padding : 10px">
        <h1 class="text-center">Our Story</h1>
        <p style="font-size: 30px; ">
          We're inspired by the Greek word "Kairoscope", which means the perfect, delicate, crucial moment; the fleeting
          rightness of time and place that creates the opportune atmosphere for action word ormovements.
          <br />
          <br />
          We believe in capturing your emotions at the perfecct moment while you enjoy your special day.
          <br />
          <br />
          Whether it's pre-wedding, wedding, maternity, baby photoshoot,events, food, or travel photography; we're here
          to give you moments that you can cherish throughout your lifetime.
        </p>
      </div>
      <div class="row text-center" style="background-color: pink; margin : 5px; padding : 10px; font-size: 30px; ">
        <div class="col-sm-4">
          <h1>Photographer</h1>
            <img src="images/Photographer(1).jpg" alt="Photographer's Picture" height="200px" width="200px">
        </div>
        <div class="col-sm-8" style="margin-top: 28px; ">
          <h3 style="padding-top: 15px; font-size: 30px;" >Lakshu Pawar</h3>
          <h5 style="padding-top: 5px; font-size: 30px;" >Bachelors in Fine Arts</h5>
          <p style="padding-top: 5px;" >
            (Applied Art - Photography)<br />
            Rachna Sansad College Of Applid Art, Mumbai
          </p>
        </div>
      </div>
      </div>
    </div>

    <%- include('includes/footer.ejs'); -%>

  </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
