<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Kairoscope...</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/style.css" type="text/css">

  </head>
  <body>
    <div id="pagewrap">

      <%- include('includes/header-client.ejs'); -%>

      <!--page middle portion-->
      <div class="jumbotron jumbotron-fluid bgimg">
          <div class="container header">
            <h1 class="display-4" style="color: white;">Kairoscope</h1>
            <p class="lead" style="color: whitesmoke;">Frame your moments ...</p>
          </div>
      </div>
        <!--page middle portion end-->

      <!-- sub info-->
      <div class="container features">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <h3 class="feature-title">BabyShoot</h3>
            <a href="babyshoot"><img src="images/babyshoot_front.jpg" class="img-fluid"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Pre-Wedding</h3>
            <a href="prewedding"><img src="images/prewedding_front.jpg" class="img-fluid"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
          </div>


          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Maternity</h3>
            <a href="maternity"><img src="images/maternity_front.jpg" class="img-fluid"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
          </div>


        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Wedding</h3>
            <a href="wedding"><img src="images/wedding_front.jpg" class="img-fluid"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Engagement</h3>
            <a href="engagement"><img src="images/engagement_front.jpg" class="img-fluid"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
          </div>

        </div>
      </div>
  	   <!-- sub info-->

      <%- include('includes/footer.ejs'); -%>

  </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>
</html>
